body {
  background-color: #F5F5F5;
}

.header {
  display: flex;
  color: red;
  padding: 10px;
  position: relative;
}

.header h1 {
  margin: 0
}

.content {
  display: flex;
  height: calc(100vh - 63px);
  width: 100vw;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.generate, .tr_buttons {
  margin-right: min(20vw, 300px);
  margin-left: min(20vw, 300px);
}

.tr_button {
  background-color: #1db9547c;
  font-size: 30px;
  padding: 10px;
  margin-right: 40px;
  margin-top: 20px;
  border: 5px solid black;
  border-radius: 10px;
}

.tr_button:hover {
  background-color: #1DB954;
  cursor: pointer;
}

.selected {
  background-color: #1DB954;
}